[Desktop Entry]
Type=Application
Version=1.0
Name=Install EXP Mint
GenericName=System Installer
Comment=Install EXP Mint on this computer
Exec=pkexec calamares
Icon=exp-mint
Terminal=false
Categories=System;
Keywords=install;system;calamares;
StartupNotify=true
